{{ form_start(form) }}
<div class="row">
	<div
		class="col-md-6">
		<!-- CON ERROR 
				<div class="form-group has-error has-danger">-->
		<div class="form-group">
			<label>Nombre *</label>

			{{ form_widget(form.name, { 'attr': {'class': ' form-control'} }) }}
			<!-- CON ERROR  
						<div class="help-block with-errors">
						                <ul class="list-unstyled">
			
			                    <li>Rellene este campo.</li>
			                </ul>
			            </div>-->
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label>Categoría *</label>
			{{ form_widget(form.category, { 'attr': {'class': ' form-control'} }) }}
		{# <select class="form-control"> #}
			{#     <option>Balones de fútbol</option> #}
			{# </select> #}
		</div>
	</div>
	<div class="col-md-12 mt-5 text-center">

        {{ form_row(form.save, { 'label': button_label,'attr': {'class': 'btn btn-primary mr-2' } }) }}
    </div>
</div>
{{ form_end(form) }}
