{% extends "base-crud.html.twig" %}

{% set section = 'categories' %}
{% block page_title %}{% if category.id %}Editar{% else %}Nueva{% endif %} categoría{% endblock %}
{% block section_title %}{% if category.id %}Editar{% else %}Nueva{% endif %} categoría{% endblock %}
{% block content %}
{% if category.id %}
    {% set categoryName = category.name %}
    {% set action = '' %}
{% else %}
    {% set categoryName = '' %}
    {% set action = 'add' %}
{% endif %}
<form method="post" name="add_category_form" action="{{ action }}">
    {{ form_widget(form._token) }}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Nombre *</label>
                <input type="text" class="form-control" name="{{ field_name(form.name) }}" value="{{ categoryName }}">
                <div class="text-danger">
                    {{ form_errors(form.name) }}
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-5 text-center">
            <button type="submit" class="btn btn-primary mr-2">
                {% if category.id %}
                    Guardar
                {% else %}
                    Añadir categoría
                {% endif %}
            </button>
        </div>
    </div>
</form>
{% endblock %}